<h1 id="IFRS">
    <img src="assets/IconResource/icon-park-solid_people-safepeople safe.svg" alt="My Icon">
        IFRS</h1>

<h4><span class="material-symbols-outlined">
    home
    </span>&nbsp; Home</h4>

<h4> <span class="material-symbols-outlined">
    person_search
    </span>&nbsp;Search Face</h4>

<h4><span class="material-symbols-outlined">
    add_a_photo
    </span>&nbsp; Add Photos</h4>

<h4><span class="material-symbols-outlined">
    footprint
    </span>&nbsp; Logs</h4>

<h4><span class="material-symbols-outlined">
    person
    </span>&nbsp; Profile</h4>

<h4><span class="material-symbols-outlined">
    logout
    </span>&nbsp; Log Out</h4>