<div id="bg" class="d-flex">
    <div id="navigationPanel" class="container border-end">
        <!-- navigation bar -->
        <app-navigation-bar></app-navigation-bar>
    </div>

    <div id="mainContent" class="container">
        <div class="container border-bottom" id="topBar">
            <!-- Top Bar -->
            <app-top-bar></app-top-bar>
        </div>

        <!-- Access Denied Body -->
        <div class="container" id="bodySection">
            <h4>Access Denied</h4>

            <div class="container bg-white py-5">
                <p><i class="fa fa-info-circle" aria-hidden="true"></i> You do not have sufficient privileges to access the requested page. 
                    Please contact the system administrator if you believe this is an error.
                </p>
            </div>

        </div>
    </div>
</div>