<div id="bg" class="d-flex">
    <div id="navigationPanel" class="container border-end">
        <!-- navigation bar -->
        <app-navigation-bar></app-navigation-bar>
    </div>

    <div id="mainContent" class="container">
        <div class="container border-bottom" id="topBar">
            <!-- Top Bar -->
            <app-top-bar></app-top-bar>
        </div>

        <!-- Search Body -->
        <div class="container" id="bodySection">
            <h4>Search Face</h4>

            <div class="d-flex">
                <!-- Face image been uploaded -->
                <div>
                    <mat-card *ngIf="selectedImage">
                        <img id="faceImg" mat-card-image src="{{ selectedImage.src }}" alt="Face Image">
                    </mat-card>

                    <input type="file" accept="image/*" (change)="onFileSelected($event)" required="true"/>
                </div>
                
                <!-- Preview of face image results -->
                <div>
                    <mat-card>

                    </mat-card>
                </div>
            </div>

        </div>
    </div>
</div>
