<div id="bg" class="d-flex">
    <div id="navigationPanel" class="container border-end">
        <!-- app navigation -->
    </div>

    <div id="mainContent" class="container">
        <!-- Top Bar -->
        <div class="container border-bottom" id="topBar">
            <h4><span class="material-symbols-outlined">
                account_circle
                </span>&nbsp; Kennedy</h4>
        </div>

        <!-- Search Body -->
        <div class="container">
            
        </div>
    </div>
</div>
