<div id="bg" class="d-flex">
    <div id="navigationPanel" class="container border-end">
        <!-- navigation bar -->
        <app-navigation-bar></app-navigation-bar>
    </div>

    <div id="mainContent" class="container">
        <div class="container border-bottom" id="topBar">
            <!-- Top Bar -->
            <app-top-bar></app-top-bar>
        </div>

        <!-- Search Body -->
        <div class="container px-5" id="bodySection">
            <h4>Search Face</h4>

            <div class="d-flex">
                <!-- Face image been uploaded -->
                <div>
                    <mat-card *ngIf="selectedImage">
                        <img mat-card-image src="{{ selectedImage.src }}" alt="Face Image">
                    </mat-card>

                    <mat-card *ngIf="!selectedImage" class="no-image">
                        <p>Face Image Preview</p>
                    </mat-card>

                    <input type="file" accept="image/*" class="mt-3" (change)="onFileSelected($event)" required="true"/>
                    <button class="btn btn-success" (click)="searchFace()" style="background-color: #000AFF;">Search Image</button>
                </div>
                
                <!-- Preview of face image results -->
                <div>
                    <mat-card *ngIf="!(faceDetail === undefined)" style="margin-left: 6rem;">
                        <img mat-card-image [src]="'data:'+'jpg'+';base64,'+faceDetail.face_image" alt="Searched Image">
                    </mat-card>

                    <mat-card *ngIf="(faceDetail === undefined)" style="margin-left: 6rem;" class="no-image">
                        <p>Searched Image View</p>
                    </mat-card>
                    
                    <p class="mt-3" style="margin-left: 6rem;">Search Results Image</p>

                </div>
            </div>

            <div>
                <h4 class="mt-5">Search Results</h4>

                <div class="container bg-white pt-3" id="searchResults">
                    <div *ngIf="(faceDetail === undefined)">
                        <p>Face Image Search Results.</p>
                    </div>

                    <div *ngIf="!(faceDetail === undefined)">
                        <h3>Face Name: {{ faceDetail.face_name }}</h3>
                    </div>
                </div>

            </div>

        </div>
    </div>