<div id="bg" class="d-flex">
    <div id="navigationPanel" class="container border-end">
        <!-- navigation bar -->
        <app-navigation-bar></app-navigation-bar>
    </div>

    <div id="mainContent" class="container">
        <div class="container border-bottom" id="topBar">
            <!-- Top Bar -->
            <app-top-bar></app-top-bar>
        </div>

        <!-- Account Body -->
        <div class="container" id="bodySection">
            <h4>Account Information</h4>
        </div>
    </div>
</div>