<div id="bg" class="d-flex">
    <div id="navigationPanel" class="container border-end">
        <!-- navigation bar -->
        <app-navigation-bar></app-navigation-bar>
    </div>

    <div id="mainContent" class="container">
        <div class="container border-bottom" id="topBar">
            <!-- Top Bar -->
            <app-top-bar></app-top-bar>
        </div>

        <!-- Account Body -->
        <div class="container" id="bodySection">
            <h4>Account Information</h4>

            <div *ngIf="(user.length != 0)" class="container bg-white py-3">
                <table mat-table [dataSource]="user" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->
                  
                    <!-- ID Column -->
                    <ng-container matColumnDef="id">
                      <th mat-header-cell *matHeaderCellDef> ID </th>
                      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                    </ng-container>
                  
                    <!-- Face Name Column -->
                    <ng-container matColumnDef="username">
                      <th mat-header-cell *matHeaderCellDef> User Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                    </ng-container>
                  
                    <!-- Face Id Column -->
                    <ng-container matColumnDef="first_name">
                      <th mat-header-cell *matHeaderCellDef> First Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.first_name}} </td>
                    </ng-container>

                    <!-- Face Id Column -->
                    <ng-container matColumnDef="last_name">
                        <th mat-header-cell *matHeaderCellDef> Last Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.last_name}} </td>
                      </ng-container>

                    <!-- Face Id Column -->
                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef> Email </th>
                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                      </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>/
                  </table> 

            </div>

            <h4 class="mt-4">Password change</h4>
            <p class="my-3"><i class="fa fa-info-circle" aria-hidden="true"></i>   Please enter your old password, for security’s sake, 
              and then enter your new password twice so we can verify you typed it in correctly.</p>

            <div>
              <form ngNativeValidate (submit)="changePassword()">
                <div class="form-group my-3" style="width: 43%;">
                    <label>Old password:</label>
                    <input type="password" class="form-control" [(ngModel)]="old_password" name="old_password" required="true">
                </div>
                
                <div class="d-flex">
                  <div class="form-group my-3">
                    <label>New password:</label>
                    <input type="password" class="form-control" [(ngModel)]="new_password" name="new_password" required="true">
                    <p class="mt-2"><i class="fa fa-info-circle" aria-hidden="true"></i> Your password can't be too similar to your other personal information. <br>
                      <i class="fa fa-info-circle" aria-hidden="true"></i> Your password must contain at least 8 characters. <br>
                      <i class="fa fa-info-circle" aria-hidden="true"></i> Your password can't be a commonly used password. <br>
                      <i class="fa fa-info-circle" aria-hidden="true"></i> Your password can't be entirely numeric.</p>
                  </div>

                  <div class="form-group my-3" style="margin-left: 5rem; width: 40%;">
                    <label>New password confirmation:</label>
                    <input type="password" class="form-control" [(ngModel)]="confirm_new_password" name="confirm_new_password" required="true">
                  </div>
                </div>

                <div style="float: right;">
                  <input type="submit" class="btn btn-primary px-3" value="Change My Password" style="background-color: #000AFF; margin-top: -3rem; margin-right: 6.5rem;">
                </div>

              </form>
            </div>

        </div>
    </div>
</div>