<div id="bg" class="d-flex">
    <div id="navigationPanel" class="container border-end">
        <!-- Left Navigation bar -->
        <app-navigation-bar></app-navigation-bar>
    </div>

    <div id="mainContent" class="container">
        <div class="container border-bottom" id="topBar">
            <!-- Top bar -->
            <app-top-bar></app-top-bar>
        </div>

        <div class="container px-5" id="bodySection">
            <h4>How can I help Today!</h4>

            <div class="d-flex">
                <mat-card>
                    <img mat-card-image src="assets/IconResource/faceMatch.jfif" alt="Search Face">
                    <mat-card-footer>
                        <button [routerLink]="['/search-face']" class="btn btn-primary w-100"><span class="material-symbols-outlined">
                            search
                            </span>&nbsp; Search Face</button>
                    </mat-card-footer>
                </mat-card>

                <mat-card style="margin-left: 7rem;">
                    <img mat-card-image src="assets/IconResource/trainModel.jfif" alt="Train Model">
                    <mat-card-footer>
                        <button [routerLink]="['/train-model']" class="btn btn-primary w-100"><span class="material-symbols-outlined">
                            add_circle
                            </span>&nbsp; Train Model</button>
                    </mat-card-footer>
                </mat-card>

            </div>

            <h4 class="mt-5">View Face Search Logs</h4>

            <div *ngIf="(logsHistory != undefined)" class="container bg-white py-3">
                <table mat-table [dataSource]="logsHistory.results" class="mat-elevation-z8">

                    <!--- Note that these columns can be defined in any order.
                          The actual rendered columns are set as a property on the row definition" -->

                    <!-- Log No. Column -->
                    <ng-container matColumnDef="log_id">
                        <th mat-header-cell *matHeaderCellDef> Log No. </th>
                        <td mat-cell *matCellDef="let element"> {{element.log_id}}. </td>
                    </ng-container>
                  
                    <!-- Crime Officer ID. Column -->
                    <ng-container matColumnDef="crime_officer_id">
                      <th mat-header-cell *matHeaderCellDef> Crime Officer ID. </th>
                      <td mat-cell *matCellDef="let element"> {{element.crime_officer_id}} </td>
                    </ng-container>
                  
                    <!-- Crime Officer Name Column -->
                    <ng-container matColumnDef="crime_officer_name">
                      <th mat-header-cell *matHeaderCellDef> Crime Officer Name </th>
                      <td mat-cell *matCellDef="let element"> {{element.crime_officer_name}} </td>
                    </ng-container>
                  
                    <!-- Face Id Column -->
                    <ng-container matColumnDef="face_id">
                      <th mat-header-cell *matHeaderCellDef> Face Id </th>
                      <td mat-cell *matCellDef="let element"> {{element.face_id}} </td>
                    </ng-container>

                    <!-- Face Name Column -->
                    <ng-container matColumnDef="face_name">
                        <th mat-header-cell *matHeaderCellDef> Face Name </th>
                        <td mat-cell *matCellDef="let element"> {{element.face_name}} </td>
                    </ng-container>

                    <!-- Search Date Column -->
                    <ng-container matColumnDef="search_date">
                        <th mat-header-cell *matHeaderCellDef> Search Date </th>
                        <td mat-cell *matCellDef="let element"> {{ element.search_date | date: 'medium'}} </td>
                    </ng-container>
                  
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>/
                </table>
            </div>

        </div>
    </div>
    
</div>