#bg{
    background: #CECECE;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#navigationPanel{
    width: 20%;
    padding-top: 35px;
    padding-left: 70px;
}

#mainContent{
    width: 80%;
}

#topBar{
    padding-top: 25px;
    text-align: right;
}

#bodySection{
    padding-top: 20px;
}

#bodySection h4{
    font-weight: 400;
    font-size: 25px;
}

.border-end, .border-bottom {
    border-color: black !important;
}

mat-card img{
    width: 350px;
    height: 186px;
}

mat-card button{
    height: 4rem;
    border-color: #FFFFFF;
    background: #FFFFFF;
    color: #000000;
}

mat-card button span{
    vertical-align: middle;
}