<div id="bg" class="d-flex">
    <div id="navigationPanel" class="container border-end">
        <h1 id="IFRS">
            <img src="assets/IconResource/icon-park-solid_people-safepeople safe.svg" alt="My Icon">
                IFRS</h1>
        
        <h4><span class="material-symbols-outlined">
            home
            </span>&nbsp; Home</h4>

        <h4> <span class="material-symbols-outlined">
            person_search
            </span>&nbsp;Search Face</h4>

        <h4><span class="material-symbols-outlined">
            add_a_photo
            </span>&nbsp; Add Photos</h4>
        
        <h4><span class="material-symbols-outlined">
            footprint
            </span>&nbsp; Logs</h4>

        <h4><span class="material-symbols-outlined">
            person
            </span>&nbsp; Profile</h4>

        <h4><span class="material-symbols-outlined">
            logout
            </span>&nbsp; Log Out</h4>
    </div>

    <div id="mainContent" class="container">
        <div class="container border-bottom" id="topBar">
            <h4><span class="material-symbols-outlined">
                account_circle
                </span>&nbsp; Kennedy</h4>
        </div>

        <div class="container px-5" id="bodySection">
            <h4>How can I help Today!</h4>

            <div class="d-flex">
                <mat-card>
                    <img mat-card-image src="assets/IconResource/faceMatch.jfif" alt="Search Face">
                    <mat-card-footer>
                        <button class="btn btn-primary w-100"><span class="material-symbols-outlined">
                            search
                            </span>&nbsp; Search Face</button>
                    </mat-card-footer>
                </mat-card>

                <mat-card class="mx-5">
                    <img mat-card-image src="assets/IconResource/trainModel.jfif" alt="Train Model">
                    <mat-card-footer>
                        <button class="btn btn-primary w-100"><span class="material-symbols-outlined">
                            add_circle
                            </span>&nbsp; Train Model</button>
                    </mat-card-footer>
                </mat-card>

            </div>

            <h4 class="mt-5">View Face Search Logs</h4>

            <div class="container bg-white">
                <p>Face log list</p>

            </div>

        </div>
    </div>
    
</div>