<div id="bg" class="d-flex">
    <div id="navigationPanel" class="container border-end">
        <!-- Left Navigation bar -->
        <app-navigation-bar></app-navigation-bar>
    </div>

    <div id="mainContent" class="container">
        <div class="container border-bottom" id="topBar">
            <!-- Top bar -->
            <app-top-bar></app-top-bar>
        </div>

        <div class="container px-5" id="bodySection">
            <h4>How can I help Today!</h4>

            <div class="d-flex">
                <mat-card>
                    <img mat-card-image src="assets/IconResource/faceMatch.jfif" alt="Search Face">
                    <mat-card-footer>
                        <button [routerLink]="['/search-face']" class="btn btn-primary w-100"><span class="material-symbols-outlined">
                            search
                            </span>&nbsp; Search Face</button>
                    </mat-card-footer>
                </mat-card>

                <mat-card style="margin-left: 7rem;">
                    <img mat-card-image src="assets/IconResource/trainModel.jfif" alt="Train Model">
                    <mat-card-footer>
                        <button [routerLink]="['/train-model']" class="btn btn-primary w-100"><span class="material-symbols-outlined">
                            add_circle
                            </span>&nbsp; Train Model</button>
                    </mat-card-footer>
                </mat-card>

            </div>

            <h4 class="mt-5">View Face Search Logs</h4>

            <div class="container bg-white">
                <p>Face log list</p>

            </div>

        </div>
    </div>
    
</div>